:root {
	--purple: #9fa0ff;
	--blue: #9fd3ff;
	--white: #f5f1ed;
	--grey: #343433;
}

@font-face {
	font-family: Montserrat;
	src: url(fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
	font-family: MontserratBold;
	src: url(fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
	font-family: MontserratLight;
	src: url(fonts/montserrat/Montserrat-Light.ttf);
}

body {
	font-family: Montserrat;
	background-color: var(--white);
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.title-purple {
	font-family: MontserratBold;
	font-size: 2.1rem;
	color: var(--purple);
	/* text-shadow: 1px 1px 3px var(--grey); */
}

/************************************/
/************** HEADER **************/
/************************************/
header .navbar {
	background-color: var(--blue);
	box-shadow: 0px 5px 35px -27px rgb(0 0 0 / 75%);
}

header .navbar-toggler {
	box-shadow: none !important;
	font-size: 2rem;
}

header .navbar-toggler .icon-menu {
	color: var(--grey);
}

header .nav-link {
	color: var(--grey);
}

header .nav-link > span {
	position: relative;
	display: block;
	padding-bottom: 1.5px;
}

header .nav-link > span:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.5px;
	bottom: 0;
	left: 0;
	background: var(--purple);
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

header .nav-link:hover > span:before {
	visibility: visible;
	transform: scaleX(1);
}


/************************************/
/************** BANNER **************/
/************************************/
.banner {
	min-height: 60vh;
	position: relative;
	background-color: var(--blue);
	padding-top: 90px;
	/* background: linear-gradient(135deg, var(--purple) 0%, var(--blue) 100%); */
	/* background-image: url("imgs/profile.png");
	min-height: 100vh;
	background-repeat: no-repeat; */
}

.banner .profile-img img {
	max-width: 550px;
	border-radius: 35px;
}

.banner .subheading, .banner h2 {
	color: var(--grey);
	font-family: MontserratLight;
}

.banner h1 {
	font-family: MontserratBold;
	font-size: 3rem;;
	color: var(--purple);
	text-shadow: 1px 1px 3px var(--grey);
}

.banner h2 {
	font-size: 1.4rem;
}

/************************************/
/*************** SOBRE **************/
/************************************/

#sobre span.years {
	font-family: MontserratBold;
	color: var(--purple);
	font-size: 0.85rem;
}

#sobre h4.title {
	font-family: MontserratBold;
}

@media (min-width: 400px) {
	#sobre .skills ul {
		columns: 2;
	}
}

/************************************/
/************* PORTFOLIO ************/
/************************************/

#portfolio {
	background-color: var(--blue);
}

#portfolio .title-purple {
	text-shadow: 1px 1px 3px var(--grey);	
}

#portfolio .card{
	border-radius: 35px;
}

#portfolio .card .card-img-top {
	height: 200px;
	object-fit: contain;
}

#portfolio .card .card-title{
	font-family: MontserratBold;
	color: var(--purple);
}

#portfolio .card .btn-card {
	background-color: var(--purple);
	border-radius: 25px;
	padding: 10px 25px;
	transition: all 0.3s ease-in-out 0s;
	color: white;
}

#portfolio .card .btn-card:hover {
	transform: scale(1.1);
}

/************************************/
/************** CONTATO *************/
/************************************/

@media (min-width: 400px) {
	#contato ul li {
		padding: 0 20px;
	}
	#contato ul li a .icon{
		font-size: 2rem !important;
	}
}

#contato ul li a .icon{
	font-size: 1.5rem;
	padding-right: 20px;
}

#contato ul li a h4{
	font-weight: bold;
	font-size: 1.2rem;
}

#contato ul li a p {
	font-size: 0.9rem;
}


/************************************/
/************** MODAIS **************/
/************************************/
.modal .modal-title {
	font-family: MontserratBold;
	font-size: 1.5rem;
	color: var(--blue);
	/* text-shadow: 1px 1px 3px var(--grey); */
}


.carousel .carousel-item {
	max-height: 60vh;
}

.carousel .carousel-item img {
	height: 60vh;
	object-fit: contain;
	position: relative;
}

/************************************/
/************** FOOTER **************/
/************************************/
footer {
	background-color: var(--grey);
}

footer ul li {
	margin: 0 15px;
}

footer ul li .icon {
	font-size: 20px;
	color: var(--white);
}